{
    "interface_version": 2,
    "name": "{{slug}}",
    "label": "{{displayName}}",
    "version": "{{version}}",
    "icon": "logo.ico",
    "description": "{{description}}",
    "controller": {{controller}},
    "resource": {{resources}},
    "import": [
        "./tasks/tutorial.json"
    ]{{agentBlock}}
}
